@charset "windows-1252";
/* CSS Document */



img a { border: none; }



#img-gtinfo{
  position: relative;
  padding-top: 5px;
  padding-right: 0px;
  text-align: right;
}


.img-logo img{
    margin-left: 0px;
    width: 40px;    /* largura da imagem */
    height: 40px;   /*  altura da imagem  */
    margin-top: 0px; /* margem do topo */
}


.img-logo{
  padding-right: 0px;
}

